In [ ]:
import pandas as pd

In [2]:
df = pd.read csv('ex11.csv')

SyntaxError: invalid syntax (<ipython-input-2-279da092ca89>, line 1)

In [3]:
df = pd.read csv('ex11.csv')

SyntaxError: invalid syntax (<ipython-input-3-279da092ca89>, line 1)

In [4]:
df = pd.read .csv('ex11.csv')

AttributeError: module 'pandas' has no attribute 'read'

In [7]:
df = pd.read_csv('ex11.csv')

pd.read_table('ex11.csv', sep = ',')

 pd.read_table('ex')

In [8]:
df = pd.read_csv('ex11.csv')

In [9]:
df

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [10]:
pd.read_table('ex11.csv', sep = ',')

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [11]:
pd.read_csv('ex21.csv',header = None)

   0   1   2   3      4
0  1   2   3   4  hello
1  5   6   7   8  world
2  9  10  11  12    foo

In [12]:
pd.read_csv('ex21.csv', names = ['a','b','c','d','message']) ;putting your own header name

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [13]:
parsed = pd.read_csv('csv_mindex.csv', index_col = ['key1', 'key2']) #heirechial indexing

In [14]:
parsed

           value1  value2
key1 key2
one  a          1       2
     b          3       4
     c          5       6
     d          7       8
two  a          9      10
     b         11      12
     c         13      14
     d         15      16

In [15]:
list(open('ex31.csv'))

['            A         B         C\n',
 'aaa -0.264438 -1.026059 -0.619500\n',
 'bbb  0.927272  0.302904 -0.032399\n',
 'ccc -0.264273 -0.386314 -0.217601\n',
 'ddd -0.871858 -0.348382  1.100491\n']

In [16]:
result = pd.read_table('ex31.csv', sep = '\s+') #data separated with spaces

In [17]:
result

            A         B         C
aaa -0.264438 -1.026059 -0.619500
bbb  0.927272  0.302904 -0.032399
ccc -0.264273 -0.386314 -0.217601
ddd -0.871858 -0.348382  1.100491

In [18]:
res = pd.read_csv('ex51.csv')

In [19]:
res

  something   a   b     c   d  message
0       one   1   2   3.0   4      NaN
1       two   5   6   NaN   8    world
2     three   9  10  11.0  12      foo

In [20]:
pd.isnull(res)

  something      a      b      c      d  message
0     False  False  False  False  False     True
1     False  False  False   True  False    False
2     False  False  False  False  False    False

# large data handling for mid term exam like below

In [21]:
res1 = pd.read_csv('ex61.csv')

In [22]:
res1

           one       two     three      four key
0     0.467976 -0.038649 -0.295344 -1.824726   L
1    -0.358893  1.404453  0.704965 -0.200638   B
2    -0.501840  0.659254 -0.421691 -0.057688   G
3     0.204886  1.074134  1.388361 -0.982404   R
4     0.354628 -0.133116  0.283763 -0.837063   Q
5     1.817480  0.742273  0.419395 -2.251035   Q
6    -0.776764  0.935518 -0.332872 -1.875641   U
7    -0.913135  1.530624 -0.572657  0.477252   K
8     0.358480 -0.497572 -0.367016  0.507702   S
9    -1.740877 -1.160417 -1.637830  2.172201   G
10    0.240564 -0.328249  1.252155  1.072796   8
11    0.764018  1.165476 -0.639544  1.495258   R
12    0.571035 -0.310537  0.582437 -0.298765   1
13    2.317658  0.430710 -1.334216  0.199679   P
14    1.547771 -1.119753 -2.277634  0.329586   J
15   -1.310608  0.401719 -1.000987  1.156708   E
16   -0.088496  0.634712  0.153324  0.415335   B
17   -0.018663 -0.247487 -1.446522  0.750938   A
18   -0.070127 -1.579097  0.120892  0.671432   F
19   -0.194678 -0.492039  2.359605  0.319810   H
20   -0.248618  0.868707 -0.492226 -0.717959   W
21   -1.091549 -0.867110 -0.647760 -0.832562   C
22    0.641404 -0.138822 -0.621963 -0.284839   C
23    1.216408  0.992687  0.165162 -0.069619   V
24   -0.564474  0.792832  0.747053  0.571675   I
25    1.759879 -0.515666 -0.230481  1.362317   S
26    0.126266  0.309281  0.382820 -0.239199   L
27    1.334360 -0.100152 -0.840731 -0.643967   6
28   -0.737620  0.278087 -0.053235 -0.950972   J
29   -1.148486 -0.986292 -0.144963  0.124362   Y
...        ...       ...       ...       ...  ..
9970  0.633495 -0.186524  0.927627  0.143164   4
9971  0.308636 -0.112857  0.762842 -1.072977   1
9972 -1.627051 -0.978151  0.154745 -1.229037   Z
9973  0.314847  0.097989  0.199608  0.955193   P
9974  1.666907  0.992005  0.496128 -0.686391   S
9975  0.010603  0.708540 -1.258711  0.226541   K
9976  0.118693 -0.714455 -0.501342 -0.254764   K
9977  0.302616 -2.011527 -0.628085  0.768827   H
9978 -0.098572  1.769086 -0.215027 -0.053076   A
9979 -0.019058  1.964994  0.738538 -0.883776   F
9980 -0.595349  0.001781 -1.423355 -1.458477   M
9981  1.392170 -1.396560 -1.425306 -0.847535   H
9982 -0.896029 -0.152287  1.924483  0.365184   6
9983 -2.274642 -0.901874  1.500352  0.996541   N
9984 -0.301898  1.019906  1.102160  2.624526   I
9985 -2.548389 -0.585374  1.496201 -0.718815   D
9986 -0.064588  0.759292 -1.568415 -0.420933   E
9987 -0.143365 -1.111760 -1.815581  0.435274   2
9988 -0.070412 -1.055921  0.338017 -0.440763   X
9989  0.649148  0.994273 -1.384227  0.485120   Q
9990 -0.370769  0.404356 -1.051628 -1.050899   8
9991 -0.409980  0.155627 -0.818990  1.277350   W
9992  0.301214 -1.111203  0.668258  0.671922   A
9993  1.821117  0.416445  0.173874  0.505118   X
9994  0.068804  1.322759  0.802346  0.223618   H
9995  2.311896 -0.417070 -1.409599 -0.515821   L
9996 -0.479893 -0.650419  0.745152 -0.646038   E
9997  0.523331  0.787112  0.486066  1.093156   K
9998 -0.362559  0.598894 -1.843201  0.887292   G
9999 -0.096376 -1.012999 -0.657431 -0.573315   0

[10000 rows x 5 columns]

In [23]:
#knowing just first 5 columns

In [24]:
pd.read_csv('ex61.csv', nrows=5)

        one       two     three      four key
0  0.467976 -0.038649 -0.295344 -1.824726   L
1 -0.358893  1.404453  0.704965 -0.200638   B
2 -0.501840  0.659254 -0.421691 -0.057688   G
3  0.204886  1.074134  1.388361 -0.982404   R
4  0.354628 -0.133116  0.283763 -0.837063   Q

In [26]:
pd.read_csv('ex61.csv', chunksize = 1000)

In [27]:
chunk = pd.read_csv('ex61.csv', chunksize = 1000)

In [28]:
from pandas import Series, DataFrame

In [29]:
tot = Series([])

In [30]:
for piece in chunk:

SyntaxError: unexpected EOF while parsing (<ipython-input-30-624932d1f242>, line 1)

In [31]:
for piece in chunk:
    tot =tot.add(piece['key'].value_counts(), fill_value=0)
    
    
tot = tot.sort_values(ascending = False)

In [32]:
tot[:10]

E    368.0
X    364.0
L    346.0
O    343.0
Q    340.0
M    338.0
J    337.0
F    335.0
K    334.0
H    330.0
dtype: float64

In [33]:
tot

E    368.0
X    364.0
L    346.0
O    343.0
Q    340.0
M    338.0
J    337.0
F    335.0
K    334.0
H    330.0
V    328.0
I    327.0
U    326.0
P    324.0
D    320.0
A    320.0
R    318.0
Y    314.0
G    308.0
S    308.0
N    306.0
W    305.0
T    304.0
B    302.0
Z    288.0
C    286.0
4    171.0
6    166.0
7    164.0
8    162.0
3    162.0
5    157.0
2    152.0
0    151.0
9    150.0
1    146.0
dtype: float64

# Writing Data out to Text Format

In [34]:
data = pd.read_csv('ex51.csv')

In [35]:
data

  something   a   b     c   d  message
0       one   1   2   3.0   4      NaN
1       two   5   6   NaN   8    world
2     three   9  10  11.0  12      foo

In [36]:
data.to_csv('out_example.csv')

In [37]:
pd.read_csv('out_example.csv') #there is new column added of index when you export a data to csv.

   Unnamed: 0 something   a   b     c   d  message
0           0       one   1   2   3.0   4      NaN
1           1       two   5   6   NaN   8    world
2           2     three   9  10  11.0  12      foo

In [38]:
import sys  #being stored only in system memory

In [39]:
data.to_csv(sys.stdout, sep='|')

|something| a| b| c| d| message
0|one|1|2|3.0|4|
1|two|5|6||8|world
2|three|9|10|11.0|12|foo

In [40]:
data.to_csv(sys.stdout, na_rep = 'NULL')  #representing Not Applicable i.e na values as NULL

,something, a, b, c, d, message
0,one,1,2,3.0,4,NULL
1,two,5,6,NULL,8,world
2,three,9,10,11.0,12,foo

In [41]:
data.to_csv(sys.stdout, index = False, header = False) #to remove column and row names

one,1,2,3.0,4,
two,5,6,,8,world
three,9,10,11.0,12,foo

In [42]:
dates = pd.date_range('1/1/2000', periods = 7)

In [43]:
import numpy as np

In [44]:
ts = Series (np.arange(7), index = dates)      #time series data

In [45]:
ts

2000-01-01    0
2000-01-02    1
2000-01-03    2
2000-01-04    3
2000-01-05    4
2000-01-06    5
2000-01-07    6
Freq: D, dtype: int32

In [46]:
ts.to_csv('tseries.csv')

In [47]:
pd.read_csv('tseries.csv', header = None)

            0  1
0  2000-01-01  0
1  2000-01-02  1
2  2000-01-03  2
3  2000-01-04  3
4  2000-01-05  4
5  2000-01-06  5
6  2000-01-07  6

# imbalanced data

# Manually working with delimited formats

In [48]:
import csv

In [49]:
f = open(ex71.csv)

NameError: name 'ex71' is not defined

In [50]:
f = open('ex71.csv')

In [51]:
reader = csv.reader(f)   #reader is a list and we want to put all the values of f into reader

In [52]:
for line in reader:
    print(line)

['a', 'b', 'c']
['1', '2', '3']
['1', '2', '3', '4']

In [53]:
lines = list (csv.reader(open('ex71.csv')))

In [54]:
header, values = lines[0], lines[1:]  #line 0 will be header and all other lines will be values

In [55]:
data_dict = [h:v for h, v in zip(header, zip(*values))] #want to get values of hearder, getting from line 0 and zipping for all
#the values into the array based on data dictionary

SyntaxError: invalid syntax (<ipython-input-55-2bf41c29acf5>, line 1)

In [56]:
data_dict = {h:v for h, v in zip(header, zip(*values))} #want to get values of hearder, getting from line 0 and zipping for all
#the values into the array based on data dictionary

In [57]:
data_dict

{'a': ('1', '1'), 'b': ('2', '2'), 'c': ('3', '3')}

# JSON Data

In [58]:
json_string = """"
{
    "id": 1, 
    "name": "Bob", 
    "address": {
        "home": "indonesia", 
        "office": "yongin"
    }
}
"""

In [59]:
import json

In [60]:
data = json.load(json_string)

AttributeError: 'str' object has no attribute 'read'

In [69]:
json_string = """
{
    "id": 1, 
    "name": "Bob", 
    "address": {
        "home": "indonesia", 
        "office": "yongin"
    }
}
"""

In [64]:
import json

In [70]:
data = json.loads(json_string)

In [71]:
data

{'address': {'home': 'indonesia', 'office': 'yongin'}, 'id': 1, 'name': 'Bob'}

In [72]:
if(data['id']==1):
    data["address"]["house"] = "dormitory"

In [73]:
print(json.dumps(data))

{"id": 1, "name": "Bob", "address": {"home": "indonesia", "office": "yongin", "house": "dormitory"}}

In [74]:
ind = []
ind.append(data['name'])
ind

['Bob']

In [75]:
data_column = []
data2 = []
for i in data['address']:
   print(i)

home
office
house

In [76]:
data_column = []
data2 = []
for i in data['address']:
   data_column.append(i)
   print(data['address'][i])

indonesia
yongin
dormitory

In [77]:
data_column = []
data2 = []
for i in data['address']:
   data_column.append(i)
   data2.append(data['address'][i])

In [79]:
df = DataFrame(np.array(data2).reshape(1,3), index = ind, columns = data_column) #putting data as array and reshape in 1,3 forma

In [80]:
df

          home  office      house
Bob  indonesia  yongin  dormitory

# Reading Excel File

In [81]:
xls_file = pd.ExcelFile('excel_file.xls')

In [82]:
table = xls_file.parse('Sheet1')

In [83]:
table

      name  a  b  c
0    alice  1  2  3
1      bob  4  5  6
2  charlie  7  8  9

# XML files

In [84]:
from lxml import objectify, etree

In [86]:
xml_file = """
<person>
  <name>Charlie</name>
  <address properties="hometown">Indonesia</address>
  <address properties="living place">Dormitory</address>
  <address properties="office">Yongin</address>
</person>
"""

In [87]:
root = objectify.fromstring(xml_file)

In [88]:
root.tag

'person'

In [90]:
root.name.tag

'name'

In [91]:
root.name.text

'Charlie'

In [92]:
root.name.attrib #as there is no attribute for the name

{}

In [94]:
for e in  root.address:
    print (e.tag)
    print(e.text)
    print(e.attrib)
    print(e.attrib['properties'])

address
Indonesia
{'properties': 'hometown'}
hometown
address
Dormitory
{'properties': 'living place'}
living place
address
Yongin
{'properties': 'office'}
office

In [95]:
xml2 = """
<dataset>
<person>
  <name>Bob</name>
  <address properties="hometown">Korea</address>
  <address properties="living place">Korea</address>
  <address properties="office">Korea</address>
</person>
<person>
  <name>Charlie</name>
  <address properties="hometown">Indonesia</address>
  <address properties="living place">Dormitory</address>
  <address properties="office">Yongin</address>
</person>
</dataset>
"""

In [96]:
root2 = objectify.fromstring(xml2)

In [97]:
#now making a dataframe out of that xml file

In [98]:
ind = [] #index
for a in root2.person:
    ind.append(a.name.text)
    
ind

['Bob', 'Charlie']

In [101]:
col = []

#for column
for e in root2.person.address:
     col.append(e.attrib['properties'])
        
data = []
        
indata = []
for b in root2.person:
    for c in b.address:
        indata.append(c.text)
    data.append(indata)
    indata=[]

In [102]:
col

['hometown', 'living place', 'office']

In [103]:
data

[['Korea', 'Korea', 'Korea'], ['Indonesia', 'Dormitory', 'Yongin']]

In [104]:
df = DataFrame(data, index = ind, columns = col)

In [105]:
df

          hometown living place  office
Bob          Korea        Korea   Korea
Charlie  Indonesia    Dormitory  Yongin

In [106]:
#extracting data from json/excel file
#making dataframe