In [1]:
import numpy as np

In [2]:
from pandas import Series, DataFrame

In [3]:
import pandas as pd

In [5]:
from lxml import etree

In [10]:
bookfile = open('books.xml').read()
xml_data = etree.fromstring(bookfile)


lst = []
columns = []
idx = 0
for book in xml_data:
    row = []
    for tag in book:
        if idx == 0:
            columns.append(tag.tag)
        row.append(tag.text.strip())

    idx += 1
    lst.append(row)

xf = DataFrame(lst, columns=columns)

In [11]:
xf

,author,title,genre,price,publish_date,description
0,"Gambardella, Matthew",XML Developer's Guide,Computer,44.95,2000-10-01,An in-depth look at creating applications \n ...
1,"Ralls, Kim",Midnight Rain,Fantasy,5.95,2000-12-16,"A former architect battles corporate zombies, ..."
2,"Corets, Eva",Maeve Ascendant,Fantasy,5.95,2000-11-17,After the collapse of a nanotechnology \n ...
3,"Corets, Eva",Oberon's Legacy,Fantasy,5.95,2001-03-10,"In post-apocalypse England, the mysterious \n ..."
4,"Corets, Eva",The Sundered Grail,Fantasy,5.95,2001-09-10,"The two daughters of Maeve, half-sisters, \n ..."
5,"Randall, Cynthia",Lover Birds,Romance,4.95,2000-09-02,When Carla meets Paul at an ornithology \n ...
6,"Thurman, Paula",Splish Splash,Romance,4.95,2000-11-02,A deep sea diver finds true love twenty \n ...
7,"Knorr, Stefan",Creepy Crawlies,Horror,4.95,2000-12-06,"An anthology of horror stories about roaches,\..."
8,"Kress, Peter",Paradox Lost,Science Fiction,6.95,2000-11-02,After an inadvertant trip through a Heisenberg...
9,"O'Brien, Tim",Microsoft .NET: The Programming Bible,Computer,36.95,2000-12-09,Microsoft's .NET initiative is explored in \n ...
10,"O'Brien, Tim",MSXML3: A Comprehensive Guide,Computer,36.95,2000-12-01,The Microsoft MSXML3 parser is covered in \n ...
11,"Galos, Mike",Visual Studio 7: A Comprehensive Guide,Computer,49.95,2001-04-16,Microsoft Visual Studio 7 is explored in depth...

#  Number of books in catalog

In [12]:
len(xf)

12

# Books which have price higher than 10 dollar

In [28]:
booksdollar = xf[xf['price'].map(lambda x:float(x)) > 10].ix[:,['title', 'price']]
booksdollar

                                     title  price
0                    XML Developer's Guide  44.95
9    Microsoft .NET: The Programming Bible  36.95
10           MSXML3: A Comprehensive Guide  36.95
11  Visual Studio 7: A Comprehensive Guide  49.95

# Books less than 10 dollar

In [29]:
len(xf) - len(booksdollar)  #booksdollar are books with price more than 10 dollar

8

# Maximum book price

In [32]:
"%.2f" % xf['price'].map(lambda x:float(x)).describe()['max']

'49.95'

# Minimum book price

In [33]:
"%.2f" % xf['price'].map(lambda x:float(x)).describe()['min']

'4.95'

# Books published on same date

In [34]:
#sorting books by published date

In [41]:
xf.sort_values(by=['publish_date']).set_index(['publish_date', 'title']).ix[:,[]]

Empty DataFrame
Columns: []
Index: [(2000-09-02, Lover Birds), (2000-10-01, XML Developer's Guide), (2000-11-02, Splish Splash), (2000-11-02, Paradox Lost), (2000-11-17, Maeve Ascendant), (2000-12-01, MSXML3: A Comprehensive Guide), (2000-12-06, Creepy Crawlies), (2000-12-09, Microsoft .NET: The Programming Bible), (2000-12-16, Midnight Rain), (2001-03-10, Oberon's Legacy), (2001-04-16, Visual Studio 7: A Comprehensive Guide), (2001-09-10, The Sundered Grail)]

# Book genre are there in the catalog

In [43]:
len(xf['genre'].unique())

5

# Number of books according to the genre

In [45]:
DataFrame(xf['genre'].value_counts())

                 genre
Computer             4
Fantasy              4
Romance              2
Horror               1
Science Fiction      1

# Authors who have published more than 1 book!

In [55]:
xf['author'].value_counts()[lambda x: x > 1]

Corets, Eva     3
O'Brien, Tim    2
Name: author, dtype: int64

# Do the year of 2000 have more books than the year of 2001

In [56]:
#creating a column for year from the publishing date

In [57]:
pyear = xf['publish_date'].map(lambda x:x[0:4])

In [65]:
check = pyear.value_counts()
check

2000    9
2001    3
Name: publish_date, dtype: int64

In [66]:
check[0] > check[1]

True

In [ ]:
#Yes 2000 have more books than year of 2001