In [1]:
from pandas import DataFrame
from lxml import etree

f = open('books.xml').read()
xml_data = etree.fromstring(f)


lst = []
columns = []
idx = 0
for book in xml_data:
    row = []
    for tag in book:
        if idx == 0: # only take first item to extract column names
            columns.append(tag.tag)
        row.append(tag.text.strip())

    idx += 1
    lst.append(row)

df = DataFrame(lst, columns=columns)

FileNotFoundError: [Errno 2] No such file or directory: 'books.xml'

### How many books are there in the catalog?

In [47]:
print('Total: ' + str(len(df))) # assuming no duplicate entry

Total: 12

### Show the books which have price higher than $10!

In [48]:
df[df['price'].map(lambda x:float(x)) > 10]

,author,title,genre,price,publish_date,description
0,"Gambardella, Matthew",XML Developer's Guide,Computer,44.95,2000-10-01,An in-depth look at creating applications \n ...
9,"O'Brien, Tim",Microsoft .NET: The Programming Bible,Computer,36.95,2000-12-09,Microsoft's .NET initiative is explored in \n ...
10,"O'Brien, Tim",MSXML3: A Comprehensive Guide,Computer,36.95,2000-12-01,The Microsoft MSXML3 parser is covered in \n ...
11,"Galos, Mike",Visual Studio 7: A Comprehensive Guide,Computer,49.95,2001-04-16,Microsoft Visual Studio 7 is explored in depth...

### Suppose I want to buy books which price is not more than $10. How many books are there?

In [49]:
# Simply subtract the total number with the the number of books with price > $10
print('books with price not more than $10: '+str(len(df)-len(df[df['price'].map(lambda x:float(x)) > 10])))

books with price not more than $10: 8

### Show the maximum of book price!

In [53]:
"%.2f" % df['price'].map(lambda x:float(x)).describe()['max']

'49.95'

### Show the minimum of book price!

In [52]:
"%.2f" % df['price'].map(lambda x:float(x)).describe()['min']

'4.95'

### Are there any books which have been published at the same date? Show your result!

Yes. First, sort the DataFrame by "publish_date". Then, set multiple index (i.e., hierarchical index) of the DataFrame to "publish_date" and "title". We can see below that there are two book titles with date 2000-11-02.

In [54]:
df.sort_values(by=['publish_date']).set_index(['publish_date', 'title'])

                                                                   author  \
publish_date title
2000-09-02   Lover Birds                                 Randall, Cynthia
2000-10-01   XML Developer's Guide                   Gambardella, Matthew
2000-11-02   Splish Splash                                 Thurman, Paula
             Paradox Lost                                    Kress, Peter
2000-11-17   Maeve Ascendant                                  Corets, Eva
2000-12-01   MSXML3: A Comprehensive Guide                   O'Brien, Tim
2000-12-06   Creepy Crawlies                                Knorr, Stefan
2000-12-09   Microsoft .NET: The Programming Bible           O'Brien, Tim
2000-12-16   Midnight Rain                                     Ralls, Kim
2001-03-10   Oberon's Legacy                                  Corets, Eva
2001-04-16   Visual Studio 7: A Comprehensive Guide           Galos, Mike
2001-09-10   The Sundered Grail                               Corets, Eva

                                                               genre  price  \
publish_date title
2000-09-02   Lover Birds                                     Romance   4.95
2000-10-01   XML Developer's Guide                          Computer  44.95
2000-11-02   Splish Splash                                   Romance   4.95
             Paradox Lost                            Science Fiction   6.95
2000-11-17   Maeve Ascendant                                 Fantasy   5.95
2000-12-01   MSXML3: A Comprehensive Guide                  Computer  36.95
2000-12-06   Creepy Crawlies                                  Horror   4.95
2000-12-09   Microsoft .NET: The Programming Bible          Computer  36.95
2000-12-16   Midnight Rain                                   Fantasy   5.95
2001-03-10   Oberon's Legacy                                 Fantasy   5.95
2001-04-16   Visual Studio 7: A Comprehensive Guide         Computer  49.95
2001-09-10   The Sundered Grail                              Fantasy   5.95

                                                                                           description
publish_date title
2000-09-02   Lover Birds                             When Carla meets Paul at an ornithology \n    ...
2000-10-01   XML Developer's Guide                   An in-depth look at creating applications \n  ...
2000-11-02   Splish Splash                           A deep sea diver finds true love twenty \n    ...
             Paradox Lost                            After an inadvertant trip through a Heisenberg...
2000-11-17   Maeve Ascendant                         After the collapse of a nanotechnology \n     ...
2000-12-01   MSXML3: A Comprehensive Guide           The Microsoft MSXML3 parser is covered in \n  ...
2000-12-06   Creepy Crawlies                         An anthology of horror stories about roaches,\...
2000-12-09   Microsoft .NET: The Programming Bible   Microsoft's .NET initiative is explored in \n ...
2000-12-16   Midnight Rain                           A former architect battles corporate zombies, ...
2001-03-10   Oberon's Legacy                         In post-apocalypse England, the mysterious \n ...
2001-04-16   Visual Studio 7: A Comprehensive Guide  Microsoft Visual Studio 7 is explored in depth...
2001-09-10   The Sundered Grail                      The two daughters of Maeve, half-sisters, \n  ...

### How many book genre are there in the catalog?

In [56]:
len(df['genre'].unique())

5

### Show the number of books according to the genre!

In [57]:
df['genre'].value_counts()

Computer           4
Fantasy            4
Romance            2
Horror             1
Science Fiction    1
Name: genre, dtype: int64

### Show authors who have published more than 1 book!

In [58]:
df['author'].value_counts()[lambda x: x > 1]

Corets, Eva     3
O'Brien, Tim    2
Name: author, dtype: int64

### Do the year of 2000 have more books than the year of 2001? Show your argument!

In [60]:
# Prepare an additional column containing year of publishing (i.e., 4 first characters from "publish_date")
year = df['publish_date'].map(lambda x:x[0:4])

# Assign it to "year" column of DataFrame
df['year'] = year

# Get the count of each distinct year
print(df['year'].value_counts())

2000    9
2001    3
Name: year, dtype: int64

So, yes. Year of 2000 has more books than year of 2001.