In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame
import re

In [2]:
weather = pd.read_csv('weather.csv')

In [3]:
weather

      month  day  year  tempF  season      tempC
0         1    1  1995   44.0  Winter   6.666667
1         1    2  1995   41.8  Winter   5.444444
2         1    3  1995   28.1  Winter  -2.166667
3         1    4  1995   31.7  Winter  -0.166667
4         1    5  1995   21.3  Winter  -5.944444
5         1    6  1995   27.9  Winter  -2.277778
6         1    7  1995   42.8  Winter   6.000000
7         1    8  1995   35.5  Winter   1.944444
8         1    9  1995   34.4  Winter   1.333333
9         1   10  1995   29.9  Winter  -1.166667
10        1   11  1995   30.7  Winter  -0.722222
11        1   12  1995   35.5  Winter   1.944444
12        1   13  1995   47.2  Winter   8.444444
13        1   14  1995   52.4  Winter  11.333333
14        1   15  1995   56.9  Winter  13.833333
15        1   16  1995   55.2  Winter  12.888889
16        1   17  1995   50.3  Winter  10.166667
17        1   18  1995   42.6  Winter   5.888889
18        1   19  1995   39.3  Winter   4.055556
19        1   20  1995   43.1  Winter   6.166667
20        1   21  1995   43.2  Winter   6.222222
21        1   22  1995   36.0  Winter   2.222222
22        1   23  1995   33.3  Winter   0.722222
23        1   24  1995   35.8  Winter   2.111111
24        1   25  1995   38.3  Winter   3.500000
25        1   26  1995   36.6  Winter   2.555556
26        1   27  1995   34.3  Winter   1.277778
27        1   28  1995   28.2  Winter  -2.111111
28        1   29  1995   26.0  Winter  -3.333333
29        1   30  1995   33.8  Winter   1.000000
...     ...  ...   ...    ...     ...        ...
7435      5   11  2015   74.4  Spring  23.555556
7436      5   12  2015   74.9  Spring  23.833333
7437      5   13  2015   65.1  Spring  18.388889
7438      5   14  2015   59.7  Spring  15.388889
7439      5   15  2015   63.2  Spring  17.333333
7440      5   16  2015   65.2  Spring  18.444444
7441      5   17  2015   70.4  Spring  21.333333
7442      5   18  2015   63.6  Spring  17.555556
7443      5   19  2015   61.6  Spring  16.444444
7444      5   20  2015   69.3  Spring  20.722222
7445      5   21  2015   57.1  Spring  13.944444
7446      5   22  2015   61.8  Spring  16.555556
7447      5   23  2015   59.3  Spring  15.166667
7448      5   24  2015   65.7  Spring  18.722222
7449      5   25  2015   72.5  Spring  22.500000
7450      5   26  2015   75.2  Spring  24.000000
7451      5   27  2015   73.5  Spring  23.055556
7452      5   28  2015   73.4  Spring  23.000000
7453      5   29  2015   73.0  Spring  22.777778
7454      5   30  2015   73.1  Spring  22.833333
7455      5   31  2015   74.6  Spring  23.666667
7456      6    1  2015   57.4  Spring  14.111111
7457      6    2  2015   52.0  Spring  11.111111
7458      6    3  2015   58.2  Spring  14.555556
7459      6    4  2015   58.1  Spring  14.500000
7460      6    5  2015   59.5  Spring  15.277778
7461      6    6  2015   65.7  Spring  18.722222
7462      6    7  2015   65.3  Spring  18.500000
7463      6    8  2015   67.5  Spring  19.722222
7464      6    9  2015   70.6  Spring  21.444444

[7465 rows x 6 columns]

# Q1. How many years do the data consist of?

In [4]:
len(weather['year'].unique())

21

In [5]:
#So data consists of 21 years

# Q2. What would be the annual (yearly) average temperature?

In [7]:
grouped = weather.groupby(['year'])
grouped

In [15]:
grouped_pct = grouped['tempC', 'tempF']

In [16]:
grouped_pct.agg('mean')

          tempC      tempF
year
1995  13.138508  55.649315
1996  11.086976  51.956557
1997  12.841400  55.114521
1998  13.391476  56.104658
1999  13.482192  56.267945
2000  12.433971  54.381148
2001  13.715221  56.687397
2002  12.443379  54.398082
2003  11.754947  53.158904
2004  12.664693  54.796448
2005  13.257230  55.863014
2006  14.548097  58.186575
2007  13.461339  56.230411
2008  13.135398  55.643716
2009  12.263014  54.073425
2010  14.168037  57.502466
2011  13.535921  56.364658
2012  14.482544  58.068579
2013  13.081126  55.546027
2014  12.329528  54.193151
2015   6.383681  43.490625

In [17]:
#above are the annual yearly average temperature of both Celcius and Farhenheit

# Q3. For each season, show the average temperature?

In [18]:
grouped2 = weather.groupby(['season'])
grouped2_pct = grouped2['tempC', 'tempF']
grouped2_pct.agg('mean')

            tempC      tempF
season
Fall    11.410867  52.539560
Spring  14.277229  57.699011
Summer  24.128110  75.430598
Winter   2.030979  35.655762

In [19]:
#Above are the average temperature of each season

# Q4. Show the statistics (mean, std, var) of temperature according to each season every year

In [20]:
grouped3 = weather.groupby(['year', 'season'])

In [22]:
groupstats = grouped3.describe()

In [24]:
functions = ['mean', 'std', 'var']
result = grouped3['tempC', 'tempF'].agg(functions)
result

                 tempC                             tempF             \
                  mean        std         var       mean        std
year season
1995 Fall    10.761905   7.479163   55.937880  51.371429  13.462493
     Spring  14.728261   6.015567   36.187048  58.510870  10.828021
     Summer  24.462560   3.491575   12.191094  76.032609   6.284835
     Winter   2.340741   4.949076   24.493356  36.213333   8.908337
1996 Fall    10.625763   5.617084   31.551635  51.126374  10.110752
     Spring   8.977053  20.647084  426.302072  48.158696  37.164751
     Summer  23.026570   2.438450    5.946037  73.447826   4.389210
     Winter   1.610501   5.606834   31.436591  34.898901  10.092302
1997 Fall    10.449328   6.031267   36.376176  50.808791  10.856280
     Spring  13.739130   5.130020   26.317103  56.730435   9.234036
     Summer  24.117150   2.801455    7.848152  75.410870   5.042620
     Winter   2.816049   4.846082   23.484509  37.068889   8.722947
1998 Fall    12.672161   4.982762   24.827919  54.809890   8.968972
     Spring  15.118357   5.349799   28.620351  59.213043   9.629639
     Summer  24.469807   2.563723    6.572678  76.045652   4.614702
     Winter   1.029012  16.424192  269.754073  33.852222  29.563545
1999 Fall    12.070818   5.104545   26.056383  53.727473   9.188182
     Spring  15.152174   5.570869   31.034586  59.273913  10.027565
     Summer  24.887077   3.448995   11.895567  76.796739   6.208191
     Winter   1.543827   9.037197   81.670932  34.778889  16.266955
2000 Fall    10.227106   6.853537   46.970964  50.408791  12.336366
     Spring  14.551932   5.972668   35.672758  58.193478  10.750802
     Summer  22.872585   2.582915    6.671452  73.170652   4.649248
     Winter   1.946276   5.871121   34.470058  35.503297  10.568017
2001 Fall    13.427961   4.866612   23.683916  56.170330   8.759902
     Spring  14.785024   6.703344   44.934827  58.613043  12.066020
     Summer  24.254227   3.121421    9.743266  75.657609   5.618557
     Winter   2.138889   3.382546   11.441618  35.850000   6.088583
2002 Fall    10.103785   7.161282   51.283965  50.186813  12.890308
     Spring  12.527174  14.190353  201.366130  54.548913  25.542636
...                ...        ...         ...        ...        ...
2008 Fall     9.617827  10.754907  115.668027  49.312088  19.358833
     Spring  14.878623   6.383596   40.750300  58.781522  11.490473
     Summer  24.500604   2.545162    6.477852  76.101087   4.581292
     Winter   3.400488   4.553022   20.730008  38.120879   8.195439
2009 Fall    11.430403   5.670518   32.154773  52.574725  10.206932
     Spring  13.146739  10.573311  111.794911  55.664130  19.031960
     Summer  23.064614   2.689757    7.234790  73.516304   4.841562
     Winter   1.159877   4.916354   24.170539  34.087778   8.849438
2010 Fall    11.641026   7.025362   49.355714  52.953846  12.645652
     Spring  16.736111   5.715005   32.661282  62.125000  10.287009
     Summer  25.842995   3.569357   12.740307  78.517391   6.424842
     Winter   2.163580   4.364992   19.053153  35.894444   7.856985
2011 Fall    12.573871   5.716664   32.680251  54.632967  10.289996
     Spring  14.274155   6.896594   47.563004  57.693478  12.413869
     Summer  24.173309   3.209977   10.303951  75.511957   5.777958
     Winter   2.880247   4.743189   22.497844  37.184444   8.537741
2012 Fall    11.487790   5.415334   29.325844  52.678022   9.747601
     Spring  16.013285   4.848648   23.509386  60.823913   8.727566
     Summer  25.414855   2.970796    8.825631  77.746739   5.347433
     Winter   4.877289   4.548825   20.691805  40.779121   8.187884
2013 Fall    10.486569   7.219085   52.115181  50.875824  12.994352
     Spring  14.407609   6.438565   41.455113  57.933696  11.589416
     Summer  24.560386   3.586146   12.860443  76.208696   6.455063
     Winter   2.614198   4.509337   20.334121  36.705556   8.116807
2014 Fall    11.120879   6.719531   45.152098  52.017582  12.095156
     Spring  14.198068   6.500176   42.252293  57.556522  11.700317
     Summer  23.542874   2.525009    6.375668  74.377174   4.545015
     Winter   0.179012   5.542599   30.720404  32.322222   9.976678
2015 Spring  13.661247   6.413319   41.130667  56.590244  11.543975
     Winter  -1.267094   4.826275   23.292934  29.719231   8.687296


                     var
year season
1995 Fall     181.238730
     Spring   117.246034
     Summer    39.499145
     Winter    79.358472
1996 Fall     102.227297
     Spring  1381.218715
     Summer    19.265160
     Winter   101.854554
1997 Fall     117.858811
     Spring    85.267415
     Summer    25.428012
     Winter    76.089808
1998 Fall      80.442457
     Spring    92.729938
     Summer    21.295475
     Winter   874.003197
1999 Fall      84.422681
     Spring   100.552059
     Summer    38.541638
     Winter   264.613819
2000 Fall     152.185922
     Spring   115.579737
     Summer    21.615503
     Winter   111.682989
2001 Fall      76.735888
     Spring   145.588839
     Summer    31.568183
     Winter    37.070843
2002 Fall     166.160046
     Spring   652.426263
...                  ...
2008 Fall     374.764408
     Spring   132.030973
     Summer    20.988241
     Winter    67.165226
2009 Fall     104.181465
     Spring   362.215512
     Summer    23.440720
     Winter    78.312546
2010 Fall     159.912513
     Spring   105.822555
     Summer    41.278595
     Winter    61.732216
2011 Fall     105.884012
     Spring   154.104133
     Summer    33.384801
     Winter    72.893014
2012 Fall      95.015734
     Spring    76.170411
     Summer    28.595044
     Winter    67.041448
2013 Fall     168.853187
     Spring   134.314566
     Summer    41.667836
     Winter    65.882553
2014 Fall     146.292799
     Spring   136.897430
     Summer    20.657166
     Winter    99.534107
2015 Spring   133.263360
     Winter    75.469106

[82 rows x 6 columns]

# Q5. Show the statistics (mean, std) of the temperature according to month of every year!

In [25]:
groupedmonth = weather.groupby(['year', 'month'])
groupstatsmonth = groupedmonth.describe()
result2 = groupedmonth['tempC', 'tempF'].agg(functions)
result2

                tempC                             tempF             \
                 mean        std         var       mean        std
year month
1995 1       3.238351   4.772697   22.778641  37.829032   8.590855
     2      -0.007937   4.776287   22.812921  31.985714   8.597317
     3       6.872760   3.560679   12.678435  44.370968   6.409222
     4      10.557407   4.039647   16.318749  51.003333   7.271365
     5      16.405018   3.466423   12.016089  61.529032   6.239562
     6      22.122222   3.105132    9.641848  71.820000   5.589238
     7      26.258065   3.075308    9.457520  79.264516   5.535555
     8      25.388889   2.545997    6.482099  77.700000   4.582794
     9      20.201852   3.556288   12.647187  68.363333   6.401319
     10     17.207885   3.637085   13.228388  62.974194   6.546753
     11      7.377778   4.459467   19.886845  45.280000   8.027041
     12      1.016129   3.859124   14.892838  33.829032   6.946423
1996 1       0.043011   4.799492   23.035125  32.077419   8.639086
     2       1.576628   6.682775   44.659483  34.837931  12.028995
     3       4.057348   4.720250   22.280758  39.303226   8.496450
     4      11.057407   4.448262   19.787033  51.903333   8.006871
     5       9.627240  22.504952  506.472879  49.329032  40.508914
     6      12.066667  28.879517  834.026479  53.720000  51.983130
     7      23.247312   2.162334    4.675687  73.845161   3.892201
     8      23.648746   1.703204    2.900903  74.567742   3.065767
     9      20.814815   3.677632   13.524975  69.466667   6.619737
     10     14.460573   2.824867    7.979875  58.029032   5.084761
     11      6.524074   4.648837   21.611682  43.743333   8.367906
     12      5.503584   3.558157   12.660481  41.906452   6.404682
1997 1       0.152330   5.637816   31.784973  32.274194  10.148069
     2       4.601190   4.529814   20.519217  40.282143   8.153666
     3       5.460573   3.806297   14.487900  41.829032   6.851335
     4      11.027778   3.838390   14.733238  51.850000   6.909102
     5      15.236559   2.010567    4.042380  59.425806   3.619021
     6      22.029630   4.912338   24.131063  71.653333   8.842208
...               ...        ...         ...        ...        ...
2013 1       2.172043   5.128941   26.306040  35.909677   9.232095
     2       1.184524   3.297997   10.876784  34.132143   5.936395
     3       4.288530   2.636458    6.950909  39.719355   4.745624
     4      11.077778   3.777513   14.269604  51.940000   6.799523
     5      16.793907   4.667200   21.782756  62.229032   8.400960
     6      22.877778   3.349622   11.219966  73.180000   6.029319
     7      26.994624   3.385589   11.462213  80.590323   6.094060
     8      23.872760   1.475185    2.176172  74.970968   2.655333
     9      19.987037   3.827670   14.651061  67.976667   6.889807
     10     15.863799   4.100533   16.814370  60.554839   7.380959
     11      7.507407   5.366490   28.799220  45.513333   9.659683
     12      3.496416   5.180625   26.838876  38.293548   9.325125
2014 1      -2.005376   6.195750   38.387316  28.390323  11.152350
     2      -0.238095   4.284169   18.354105  31.571429   7.711504
     3       2.602151   4.826178   23.291995  36.683871   8.687121
     4      10.240741   3.225468   10.403647  50.433333   5.805843
     5      17.390681   3.305765   10.928083  63.303226   5.950377
     6      22.094444   2.474568    6.123489  71.770000   4.454223
     7      24.578853   1.857405    3.449954  76.241935   3.343329
     8      23.577061   1.777991    3.161250  74.438710   3.200383
     9      21.196296   3.545716   12.572102  70.153333   6.382289
     10     15.697133   3.200014   10.240090  60.254839   5.760025
     11      7.311111   5.200955   27.049936  45.160000   9.361720
     12      4.664875   3.430902   11.771087  40.396774   6.175623
2015 1      -1.102151   4.177716   17.453312  30.016129   7.519889
     2      -4.222222   3.729969   13.912666  24.400000   6.713943
     3       3.064516   3.723358   13.863394  37.516129   6.702044
     4      11.431481   3.823442   14.618707  52.576667   6.882195
     5      18.964158   3.642726   13.269454  66.135484   6.556907
     6      16.438272   3.312020   10.969479  61.588889   5.961637


                    var
year month
1995 1        73.802796
     2        73.913862
     3        41.078129
     4        52.872747
     5        38.932129
     6        31.239586
     7        30.642366
     8        21.002000
     9        40.976885
     10       42.859978
     11       64.433379
     12       48.252796
1996 1        74.633806
     2       144.696724
     3        72.189656
     4        64.109989
     5      1640.972129
     6      2702.245793
     7        15.149226
     8         9.398925
     9        43.820920
     10       25.854796
     11       70.021851
     12       41.019957
1997 1       102.983312
     2        66.482262
     3        46.940796
     4        47.735690
     5        13.097312
     6        78.184644
...                 ...
2013 1        85.231570
     2        35.240780
     3        22.520946
     4        46.233517
     5        70.576129
     6        36.352690
     7        37.137570
     8         7.050796
     9        47.469437
     10       54.478559
     11       93.309471
     12       86.957957
2014 1       124.374903
     2        59.467302
     3        75.466065
     4        33.707816
     5        35.406989
     6        19.840103
     7        11.177849
     8        10.242452
     9        40.733609
     10       33.177892
     11       87.641793
     12       38.138323
2015 1        56.548731
     2        45.077037
     3        44.917398
     4        47.364609
     5        42.993032
     6        35.541111

[246 rows x 6 columns]

# Q6. Which year is the coldest during the winter season? Show all the year minimum temperature!

In [97]:
#There are 2 ways to solve the question. 
#First Way - Showing the year with minimum temperature in WINTER
#Second Way - Showing the year with minimum mean temperature in WINTER
#I will solve the question by both ways..................

# Q6 First Way

In [116]:
#Showing all year min temperature

weathercolumn = weather.loc[weather['season'] == 'Winter']
grouped5 = weathercolumn.groupby(['year'])
functions2 = ['min']
result2 = grouped5['tempC'].agg(functions2)
result2

            min
year
1995 -11.611111
1996 -10.111111
1997 -11.166667
1998 -72.777778
1999 -72.777778
2000 -11.888889
2001  -5.944444
2002  -2.722222
2003 -72.777778
2004 -13.055556
2005 -10.388889
2006  -6.000000
2007  -8.444444
2008  -7.555556
2009 -10.833333
2010  -7.777778
2011  -9.111111
2012  -7.166667
2013  -8.833333
2014 -10.777778
2015 -12.111111

In [117]:
#Which year was the coldest in Winter?
resultswint = result2.sort_values(ascending=True, by=['min'])
resultswint
mintempyear = resultswint[:1].ix[:,['min']]
mintempyear

            min
year
2003 -72.777778

In [118]:
#Hence Year 2013 was the coldest year in Winter

# Q6 2nd Way

In [136]:
#Which year was the coldest in Winter? - the one with lowest mean temp. in winters
weathercolumn = weather.loc[weather['season'] == 'Winter']
grouped5 = weathercolumn.groupby(['year'])
functions2 = ['mean']
result2 = grouped5['tempC'].agg(functions2)
resultswint = result2.sort_values(ascending=True, by=['mean'])
mintempyear = resultswint[:1].ix[:,['mean']]
mintempyear

          mean
year
2003 -1.348148

In [137]:
#Again using the second method, 2003 was having the lowest mean temperature in Winters

# Q7. Which year is the hottest during the summer season? Show all the year maximum temperature!

In [138]:
#For question 7, lets solve using just one method. i.e
# Year with higest mean temperature in Summer is the hotest YEAR

In [139]:
#Showing the year which is hottest during the summer season
weathercolumn2 = weather.loc[weather['season'] == 'Summer']
groupedsummer = weathercolumn2.groupby(['year'])
functions3 = ['mean']
resultsummer = groupedsummer['tempC'].agg(functions3)
resultssummer = resultsummer.sort_values(ascending=False, by=['mean'])
maxtempyear = resultssummer[:1].ix[:,['mean']]
maxtempyear

           mean
year
2010  25.842995

In [ ]:
#So 2010 is the year with highest mean temperature in Summer

In [140]:
#Showing all year's max temperatures
weathercolumn2 = weather.loc[weather['season'] == 'Summer']
groupedsummer = weathercolumn2.groupby(['year'])
functions3 = ['max']
resultsummer = groupedsummer['tempC'].agg(functions3)
resultsummer

            max
year
1995  34.277778
1996  28.333333
1997  31.111111
1998  30.111111
1999  33.833333
2000  29.000000
2001  33.666667
2002  31.888889
2003  30.555556
2004  28.111111
2005  31.666667
2006  33.888889
2007  31.277778
2008  31.500000
2009  29.222222
2010  32.944444
2011  33.722222
2012  31.777778
2013  33.611111
2014  29.055556

# Q8. Are there any temperature differences between odd and even year? Show your argument! (use the annual average temperature)

In [167]:
#Calculating Mean of Means of Even Years
evenyear = weather[(weather['year'] % 2 == 0)]
evengrouped = evenyear.groupby(['year'])
evengroupedmean = DataFrame(evengrouped['tempC'].agg('mean'))
evengroupedmean['tempC'].mean()

13.068409977443128

In [169]:
#Calculating Mean of Means of Odd Years
oddyear = weather[(weather['year'] % 2 != 0)]
oddgrouped = oddyear.groupby(['year'])
oddgroupedmean = DataFrame(oddgrouped['tempC'].agg('mean'))
oddgroupedmean['tempC'].mean()

12.446779870628662

In [170]:
#Difference of both the means

In [180]:
print ("Temperature Difference b/w Even and Odd year is:" 
       + str(evengroupedmean['tempC'].mean() - oddgroupedmean['tempC'].mean()))

Temperature Difference b/w Even and Odd year is:0.6216301068144663

# Q9. Do bucket analysis for each season

In [215]:
#Count the number of days for each season per year in accordance to the bin!

bucketbin = pd.cut(weather.groupby(['year', 'season'])['day'].count(), 4)
print(bucketbin)

year  season
1995  Fall          (88.5, 92]
      Spring        (88.5, 92]
      Summer        (88.5, 92]
      Winter        (88.5, 92]
1996  Fall          (88.5, 92]
      Spring        (88.5, 92]
      Summer        (88.5, 92]
      Winter        (88.5, 92]
1997  Fall          (88.5, 92]
      Spring        (88.5, 92]
      Summer        (88.5, 92]
      Winter        (88.5, 92]
1998  Fall          (88.5, 92]
      Spring        (88.5, 92]
      Summer        (88.5, 92]
      Winter        (88.5, 92]
1999  Fall          (88.5, 92]
      Spring        (88.5, 92]
      Summer        (88.5, 92]
      Winter        (88.5, 92]
2000  Fall          (88.5, 92]
      Spring        (88.5, 92]
      Summer        (88.5, 92]
      Winter        (88.5, 92]
2001  Fall          (88.5, 92]
      Spring        (88.5, 92]
      Summer        (88.5, 92]
      Winter        (88.5, 92]
2002  Fall          (88.5, 92]
      Spring        (88.5, 92]
                     ...
2008  Fall          (88.5, 92]
      Spring        (88.5, 92]
      Summer        (88.5, 92]
      Winter        (88.5, 92]
2009  Fall          (88.5, 92]
      Spring        (88.5, 92]
      Summer        (88.5, 92]
      Winter        (88.5, 92]
2010  Fall          (88.5, 92]
      Spring        (88.5, 92]
      Summer        (88.5, 92]
      Winter        (88.5, 92]
2011  Fall          (88.5, 92]
      Spring        (88.5, 92]
      Summer        (88.5, 92]
      Winter        (88.5, 92]
2012  Fall          (88.5, 92]
      Spring        (88.5, 92]
      Summer        (88.5, 92]
      Winter        (88.5, 92]
2013  Fall          (88.5, 92]
      Spring        (88.5, 92]
      Summer        (88.5, 92]
      Winter        (88.5, 92]
2014  Fall          (88.5, 92]
      Spring        (88.5, 92]
      Summer        (88.5, 92]
      Winter        (88.5, 92]
2015  Spring        (81.5, 85]
      Winter    (77.986, 81.5]
Name: day, dtype: category
Categories (4, object): [(77.986, 81.5] < (81.5, 85] < (85, 88.5] < (88.5, 92]]